.postDiv {
    display: flex;
    justify-content: space-between;
   
}

.headerP {
    display: flex;
    flex-direction: column;
}

.dumpster {
    align-self: center;
    padding-right: 20px;
    font-size: 1.25rem;
}

.dumpster:hover {
    color: orange;
}